In [2]:
import pandas as pd

df = pd.read_csv("../nlp_bbc_news/data/bbc-text.csv")

print(df.shape)
df.head()

(2225, 2)

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [3]:
df["category"].value_counts()

category
sport            511
business         510
politics         417
tech             401
entertainment    386
Name: count, dtype: int64

In [4]:
df["n_chars"] = df["text"].str.len()
df["n_words"] = df["text"].str.split().str.len()

df[["n_chars", "n_words"]].describe()

           n_chars      n_words
count   2225.00000  2225.000000
mean    2262.93618   390.295281
std     1364.10253   241.753128
min      501.00000    90.000000
25%     1446.00000   250.000000
50%     1965.00000   337.000000
75%     2802.00000   479.000000
max    25483.00000  4492.000000

In [5]:
for cat in df["category"].unique():
    print("\n===", cat.upper(), "===")
    print(df[df["category"] == cat]["text"].iloc[0][:300], "...")

=== TECH ===
tv future in the hands of viewers with home theatre systems  plasma high-definition tvs  and digital video recorders moving into the living room  the way people watch tv will be radically different in five years  time.  that is according to an expert panel which gathered at the annual consumer elect ...

=== BUSINESS ===
worldcom boss  left books alone  former worldcom boss bernie ebbers  who is accused of overseeing an $11bn (£5.8bn) fraud  never made accounting decisions  a witness has told jurors.  david myers made the comments under questioning by defence lawyers who have been arguing that mr ebbers was not resp ...

=== SPORT ===
tigers wary of farrell  gamble  leicester say they will not be rushed into making a bid for andy farrell should the great britain rugby league captain decide to switch codes.   we and anybody else involved in the process are still some way away from going to the next stage   tigers boss john wells t ...

=== ENTERTAINMENT ===
ocean s twelve raids box office ocean s twelve  the crime caper sequel starring george clooney  brad pitt and julia roberts  has gone straight to number one in the us box office chart.  it took $40.8m (£21m) in weekend ticket sales  according to studio estimates. the sequel follows the master crimin ...

=== POLITICS ===
howard hits back at mongrel jibe michael howard has said a claim by peter hain that the tory leader is acting like an  attack mongrel  shows labour is  rattled  by the opposition.  in an upbeat speech to his party s spring conference in brighton  he said labour s campaigning tactics proved the torie ...